.page {
  &__inner {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 576px) {
      & {
        max-width: 520px;
      }
    }
    
    @media (min-width: 768px) {
      & {
        max-width: 740px;
      }
    }
    
    @media (min-width: 992px) {
      & {
        max-width: 960px;
      }
    }
    
    @media (min-width: 1200px) {
      & {
        max-width: 1120px;
      }
    }
  }

  &--bg-black {
    background-color: #303030;
  }

  &--bg-darker {
    background-color: #212529;
  }

  &--text-lighter {
    color: #b2b2b2;
  }

  &__user {
    max-width: 520px;
    margin-left: auto;
    margin-right: auto;
  } 

  &--center {
    text-align: center;
  }
  
  &__section {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  &__border {
    border: 2px solid #f9f9f9;
  }

 /*  &__overflow-x {
    overflow-x: auto;
  } */

}