.input {
    width: 100%;
    padding: .8rem;
    border: 1px solid #ebe9e9;
    font-size: 1.2rem;

    &__label {
        display: block;
        cursor: pointer;
        margin: .5rem 0;
    }

    &__select {
        padding: .5rem;
        border: 1px solid #ddd;
        margin-right: 1rem;
        font-size: 1.1rem;
    }
}