.link {
    color: #212529;
    margin-left: .6rem;
    margin-right: .6rem;      

    &__numb {
        background-color: #e7ab3c;
        color: #fff;
        position: absolute;
        right: -8px;
        top: -8px;
        height: 14px;
        width: 14px;
        line-height: 14px;
        border-radius: 50%;
        text-align: center;
        font-size: .7rem;
    }

    &__menu {
        color: #fff;

        &--dep {
            color: #212529;
            display: block;
            padding: 0.6rem 0;
        }

        &--nav {
            display: block;
            padding: .6rem 1rem;
            
            @media (min-width: 992px) {
                padding: 1rem 2rem;
                border-right: 1px solid #ccc;
            }
        }        
    }  

    &__social {
        margin-right: .5rem;
        margin-top: 1rem;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #303030;
        display: inline-grid;
        align-content: center;
        justify-content: center;
        color: #f9f9f9;
    }

    &__inline {
        color: #b2b2b2;
        display: inline-block;
        margin: .3rem 0;
    }
    
    &--rel {
        position: relative;
    }

    &--pl-2 {
        padding-left: 2rem;
    }

    &--no-border {
        border: none;
    }

    &--block {
        display: block;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    &__copy {
        color: #b2b2b2;

        &:hover {
            color: $color-primary;
        }
    }
}