.pos-rel {
    position: relative;
}

.pos-abs {
    position: absolute;
}

.center-y {
    @include centralizaY;
}

.center-xy {
    @include centralizaXY;
}

.right-0 {
    right: 0;
}

.d-inline-block {
    display: inline-block;
}

.align-right {
    text-align: right;
}