.box {
    border: 1px solid #ddd;
    padding: .5rem 2rem;
    
    &__outline {
        font-size: 1.6rem;
        font-weight: bold;
        background-color: #fff;
        padding: .6rem 1.5rem;
        border-radius: 2px;       
        transition: .3s ease-in-out;
    }

    &--hover {

        &:hover span {
            outline: 10px solid rgba(255, 255, 255, 0.4);
            outline-offset: 20px;
        }

        &:hover .overlay {
            visibility: visible;
            opacity: 1;
        }
    }
}