.pagination {
    &__pages {
        width: 275px;
        overflow: hidden;
    }

    &__line {
        margin-right: 10px;
        margin-left: 10px;
    }

    &__btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        background-color: transparent;
        border: none;
        padding: 1rem .4rem;
        font-size: 1.2rem;

        &--prev {
            left: 10px;
        }

        &--next {
            right: 10px;
        }
    }

    &__link {
        display: inline-block;
        color: #fff;
        background-color: #e7ab3c;
        height: 35px;
        width: 35px;
        border-radius: 50%;
        font-size: 1.1rem;
        text-align: center;
        line-height: 35px;
    }
}