.product {
    text-align: center;
    cursor: pointer;
    z-index: 5;

    &__sale {
        position: absolute;
        top: 15px;
        left: 0;
        text-transform: uppercase;
        color: #fff;
        font-size: .8rem;
        background-color: #76bc42;
        padding: .2rem;
    }

    &__show {
        text-align: center;
        margin-top: 1rem; 

        @media (min-width: 768px) {
            margin-top: 0;
            right: 0;
            @include centralizaY;
        }
    }

    &__icon {
        position: absolute;
        color: #212529;
        top: 15px;
        right: 15px;
        font-size: 1.4rem;

        &--white {
            color: #fff;
        }
    }

    &__tag {
        display: inline-block;
        margin-top: .5rem;
        color: #b2b2b2;
        letter-spacing: 1px;
    }

    &__name {
        font-size: 1.5rem;
        font-weight: 400;
        margin-bottom: .5rem;
    }

    &__stars {
        font-size: .8rem;
        color: #e7ab3c;
    }

    &__img {
        @media (min-width: 768px) {
            height: 250px;
        }
    }

    &__price {
        font-size: 1.2rem;
        color: #e7ab3c;
        font-weight: bold;

        &--sale {
            text-decoration: line-through;
            color: #b2b2b2;
            font-size: 0.9rem;
        }
    }

    &__links {
        color: #ccc;
        text-transform: uppercase;
        display: block;
        padding: 1rem;
        font-weight: bold;
        border: 1px solid #ddd;

        @media (min-width: 992px) {
            padding: 1.5rem 2rem;
        }
    }

    &__overlay {
        opacity: 0; 
        visibility: hidden;
        transition: .3s ease-in-out;
    }

    &--hover:hover &__overlay {
        opacity: 1; 
        visibility: visible;
    }

    &--bold {
        font-weight: bold;
    }
}